# Project allocation

In [79]:
import numpy 
import pandas as pd

In [80]:
supervisors = pd.read_excel('data/project_database_2021.xlsx', sheet_name='supervisors')
supervisors.rename(columns={'full name': 'full_name'}, inplace=True)
supervisors.head(5)

,MSc Robotics,MSc BioRobotics,MSc Aerial Robotics,UoB,UWE,username,firstname,surname,full_name,email,profile,can_be_main_supervisor,max_students
0,X,NaN,NaN,NaN,X,l-aitchison,Laurence,Aitchison,Laurence Aitchison,Laurence.aitchison@bristol.ac.uk,My group uses Bayesian inference to reason abo...,1.0,1.0
1,X,NaN,NaN,X,NaN,k-aplin,Karen,Aplin,Karen Aplin,karen.aplin@bristol.ac.uk,"My research is interdisciplinary, science-driv...",1.0,3.0
2,X,NaN,NaN,X,NaN,d-barton,David,Barton,David Barton,david.barton@bristol.ac.uk,Research interests\n- Dynamics (differential e...,1.0,1.0
3,X,NaN,NaN,NaN,X,a-bolouri,Amir,Bolouri,Amir Bolouri,Amir.Bolouri@uwe.ac.uk,Associate Professor in Manufacturing,1.0,1.0
4,X,NaN,NaN,NaN,X,a-c-etoundi,Appolinaire,C. Etoundi,Appolinaire C. Etoundi,Appolinaire.Etoundi@uwe.ac.uk,With technological evolution and increase of t...,1.0,5.0

In [81]:
cols = ['id', 's', 'T', 'mail_ID', 'name', 'full_name', 'register', 'email', 'dept', 'N_proj', 'kwords', 'prog']
resp = pd.read_excel('data/project_database_2021.xlsx', sheet_name='response_round_1', names=cols)
resp.head(5)

,id,s,T,mail_ID,name,full_name,register,email,dept,N_proj,kwords,prog
0,3,2021-10-12 22:23:23,2021-10-12 22:24:31,hp12384@bristol.ac.uk,Hemma Philamore,Hemma Philamore,Yes,hemma.philamore@gmail.com,Engineering Mathematics,3.0,"soft robotics, bio-hybrid robots",MSc Robotics;MSc BioRobotics;
1,5,2021-10-13 08:39:38,2021-10-13 08:41:22,anonymous,NaN,Helmut Hauser,Yes,helmut.hauser@bristol.ac.uk,Engineering Mathematics,3.0,"morphological computation, locomotion, soft ro...",MSc BioRobotics;MSc Robotics;
2,6,2021-10-13 09:35:01,2021-10-13 09:35:15,anonymous,NaN,Nikolai Bode,No,NaN,NaN,NaN,NaN,NaN
3,7,2021-10-13 09:13:45,2021-10-13 09:38:42,anonymous,NaN,Dandan Zhang,Yes,ye21623@bristol.ac.uk,Engineering Mathematics,5.0,Robot learning ( Machine Learning and Deep Lea...,MSc BioRobotics;MSc Robotics;
4,8,2021-10-13 10:18:46,2021-10-13 10:18:56,anonymous,NaN,Tom Hill,No,NaN,NaN,NaN,NaN,NaN

In [95]:
all_resp = resp.full_name                                     # total responses

withdraw = resp[resp.register == 'No'].full_name   # init primary supervisors who withdrew
#N_withdraw = resp[resp.register == 'No'].shape[0]                                   # number of primary supervisors who withdrew

init = supervisors[supervisors.UoB == 'X'].full_name.append(supers_withdraw) # init primary supervisors 

init_resp    = set(supers_init) & set(resp.full_name) 

init_no_resp = set(supers_init) - set(resp.full_name)

new          = set(resp.full_name) - set(supers_init)

N_projects = sum(resp.N_proj.dropna())





print('N primary supervisors contacted initially: ', len(init))

print('N responded (total): ', len(all_resp))

print('N responded primary supervisors: ', len(init_resp))

print('N did not respond primary supervisors: ', len(init_no_resp))

print('N responded new (PDRAs?): ', len(new))

print('N total projects: ', N_projects)

print('Response rate (primary supervisors):', len(init_resp)/len(init))

print('Forecast total projects (assume unresponsive supervisors submit 3 projects each)', N_projects + 3*len(init_no_resp))

print(init_no_resp)

N primary supervisors contacted initially:  47
N responded (total):  32
N responded primary supervisors:  17
N did not respond primary supervisors:  30
N responded new (PDRAs?):  15
N total projects:  59.0
Response rate (primary supervisors): 0.3617021276595745
Forecast total projects (assume unresponsive supervisors submit 3 projects each) 149.0
{'David Barton', 'Antonia Tzemanaki', 'Namid Shatil', 'Kevin McAreavey', 'Kerstin Eder', 'Lucia Marucci', 'Tom Richardson', 'Karen Aplin', 'Walterio Mayol-Cuevas', 'Zeke Steer', 'Emma Milner', 'Dima Damen', 'Ahmed Khalil', 'Weiru Liu', 'Chris Hutson', 'Yanan Liu', 'Mark Schenk', 'Yongzhao Hua', 'Sabine Hauert', 'Dimitra Simeonidou', 'Marc Holderied', 'Yao Lu', 'Jonathan Lawry', 'Janis Stolzenwald', 'Andrew  Calway ', 'Jonathan Rossiter', 'Sebastian  East ', 'Steve Burrow ', 'Alan Champneys', 'Michael Elkington'}


After poking supervisors
- How many more problems do we need to match total student number? 
- How many more problems do we need to match student number across each program? 
- Which departments contributed (freq distribution)?
- Which programmes are projects suitable for (freq distriution)?

In [11]:
# Take a sentence and add each word
# to the WordList
WordList = []
Sentence = "How is the weather?"
for Word in Sentence.split(" "):
    WordList.append(Word)
print(WordList)

" ".join(WordList)

['How', 'is', 'the', 'weather?']

'How is the weather?'

In [12]:
type({3, 5, '4'})

set

In [20]:
type(20/2)
20/2

10.0

In [21]:
A = [1, 2, 3]
A[1] = A[1]-1
A

[1, 1, 3]

In [24]:
Numbers = [1,2,3,4]
Total = 0
for item in Numbers:
    if item%2 != 0:
        Total += item
    else:
        Total -= item
print(Total)

-2

In [26]:
A = [x+x for x in range(5)]
B = A[2]
B

4

In [29]:
A = {1, 2, 3, 4}
B = {5}
print(A&B)

set()

In [31]:
A = [9,-5,4,7]
A.sort()
B = A[0]
B

-5