In [64]:
import pandas as pd
import numpy as np
from IPython.display import display
import csv

In [65]:
student_selections = pd.read_excel('data/dissertation_project_database/project_database_2021.xlsx', 
                                   sheet_name='students').dropna()

#student_selections = student_selections.head(3)

student_selections.head()

,student_id,surname,firstname,email,programme,one_pager_email_sent,uwe_id,choice1,choice2,choice3,choice4,choice5
0,co20720,Ahmed,Muhammad Nayab,co20720@bristol.ac.uk,MSC,0,20052638,52.0,266.0,128.0,275.0,288.0
1,ra20728,Bai,Haotian,ra20728@bristol.ac.uk,MSC,0,20053966,137.0,72.0,139.0,35.0,275.0
3,di20137,Bulsink,Erik,di20137@bristol.ac.uk,MSC,0,20052563,223.0,222.0,242.0,226.0,231.0
4,lq20993,Cam,Furkan,lq20993@bristol.ac.uk,MSC,0,20052642,294.0,274.0,276.0,297.0,188.0
5,mo20183,Castres Saint Martin,Pierre,mo20183@bristol.ac.uk,MSC,0,20052602,228.0,263.0,278.0,79.0,297.0

In [66]:
n_choices = 5

n_students = student_selections.shape[0] 

print(student_selections.shape)

choices = [list(student_selections.choice1), 
           list(student_selections.choice2),
           list(student_selections.choice3),
           list(student_selections.choice4),
           list(student_selections.choice5)]
           
choices = [[int(i) for i in j] for j in choices]

n_projects = max([max(C) for C in choices])

(74, 12)

In [71]:
cost_matrix = np.zeros((n_students, n_projects+1), dtype=int)   # default rank 0 for all students for all projects

for x in range(len(choices)):                        # choices 1 to 5
 
    for y in range(n_students):                      # for each student
        
        cost_matrix[y, choices[x][y]] = x + 1        # mark the cost_matrix with the rank awarded by the student to each project

In [72]:

print('check projects ranked 1 to 5 for all students =', np.sum(cost_matrix) == n_students * 15)

check projects ranked 1 to 5 for all students = True

Capacity 1 for all projects

In [75]:
capacity = list(np.ones(n_projects, dtype=int))

Export project matrix

In [76]:
filename = '2020_21'

# store cost matrix
with open(f'data/student_preference_matrices/student_preference_matrix_{filename}.csv', 'w') as f:   

    w = csv.writer(f)                  # writer object

    w.writerows(cost_matrix)           # list to row

# store project capacity vector
with open(f'data/student_preference_matrices/project_capacity_{filename}.csv', 'w') as f:   

    w = csv.writer(f)              # writer object

    w.writerow(capacity)           # list to row