# Project allocation

In [5]:
import numpy 
import pandas as pd

In [35]:
supervisors = pd.read_excel('data/project_database_2021.xlsx', sheet_name='supervisors')
supervisors.rename(columns={'full name': 'full_name'}, inplace=True)
supervisors.head(5)

,MSc Robotics,MSc BioRobotics,MSc Aerial Robotics,UoB,UWE,username,firstname,surname,full_name,email,profile,can_be_main_supervisor,max_students
0,X,NaN,NaN,NaN,X,l-aitchison,Laurence,Aitchison,Laurence Aitchison,Laurence.aitchison@bristol.ac.uk,My group uses Bayesian inference to reason abo...,1.0,1.0
1,X,NaN,NaN,X,NaN,k-aplin,Karen,Aplin,Karen Aplin,karen.aplin@bristol.ac.uk,"My research is interdisciplinary, science-driv...",1.0,3.0
2,X,NaN,NaN,X,NaN,d-barton,David,Barton,David Barton,david.barton@bristol.ac.uk,Research interests\n- Dynamics (differential e...,1.0,1.0
3,X,NaN,NaN,NaN,X,a-bolouri,Amir,Bolouri,Amir Bolouri,Amir.Bolouri@uwe.ac.uk,Associate Professor in Manufacturing,1.0,1.0
4,X,NaN,NaN,NaN,X,a-c-etoundi,Appolinaire,C. Etoundi,Appolinaire C. Etoundi,Appolinaire.Etoundi@uwe.ac.uk,With technological evolution and increase of t...,1.0,5.0

In [36]:
cols = ['id', 's', 'T', 'mail_ID', 'name', 'full_name', 'register', 'email', 'dept', 'N_proj', 'kwords', 'prog']
resp = pd.read_excel('data/project_database_2021.xlsx', sheet_name='response_round_1', names=cols)
resp.head(5)

,id,s,T,mail_ID,name,full_name,register,email,dept,N_proj,kwords,prog
0,3,2021-10-12 22:23:23,2021-10-12 22:24:31,hp12384@bristol.ac.uk,Hemma Philamore,Hemma Philamore,Yes,hemma.philamore@gmail.com,Engineering Mathematics,3.0,"soft robotics, bio-hybrid robots",MSc Robotics;MSc BioRobotics;
1,5,2021-10-13 08:39:38,2021-10-13 08:41:22,anonymous,NaN,Helmut Hauser,Yes,helmut.hauser@bristol.ac.uk,Engineering Mathematics,3.0,"morphological computation, locomotion, soft ro...",MSc BioRobotics;MSc Robotics;
2,6,2021-10-13 09:35:01,2021-10-13 09:35:15,anonymous,NaN,Nikolai Bode,No,NaN,NaN,NaN,NaN,NaN
3,7,2021-10-13 09:13:45,2021-10-13 09:38:42,anonymous,NaN,Dandan Zhang,Yes,ye21623@bristol.ac.uk,Engineering Mathematics,5.0,Robot learning ( Machine Learning and Deep Lea...,MSc BioRobotics;MSc Robotics;
4,8,2021-10-13 10:18:46,2021-10-13 10:18:56,anonymous,NaN,Tom Hill,No,NaN,NaN,NaN,NaN,NaN

In [49]:
supers_withdraw = resp[resp.register == 'No'].full_name                             # primary supervisors who withdrew
N_withdraw = resp[resp.register == 'No'].shape[0]                                   # number of primary supervisors who withdrew

supers_init = supervisors[supervisors.UoB == 'X'].full_name.append(supers_withdraw) # initial primary supervisors 
N_supers_init = len(supers_init) + N_withdraw                                       # initial number of primary supervisors


N_resp = len(resp.full_name)

N_supers_resp = set(resp.full_name)

# new_entries = 

# response rate = 

# dept = 

# prog = 

print(withdraw, N_supers_init)

print(type(N_supers_resp))

5 52
<class 'set'>